.ag-theme-quartz,
.ag-theme-quartz-dark {
  /* Changes the color of the grid text */
  --ag-foreground-color: rgb(0, 0, 0);
  /* Changes the color of the grid background */
  --ag-background-color: rgb(255, 255, 255);
  /* Changes the header color of the top row */
  --ag-header-background-color: rgb(225, 225, 225);
  /* Changes the hover color of the row*/
  --ag-row-hover-color: rgb(225, 225, 225);
}
